body{
  width: 2342px;
height: 1548px;
top: -741px;
left: -1149px;
gap: 0px;
opacity: 0px;
background: #1A1A1C;
color:white;

}


.input{
width: 986px;
height: 79px;
top: -556px;
left: -715px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
border: 2px solid #8E8E8E


}
.mkt{
  width: 246px;
height: 79px;
top: -556px;
left: 296px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
width: 246px;
height: 79px;
top: -556px;
left: 567px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;


}
.percentage{
width: 246px;
height: 79px;
top: -556px;
left: 567px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
}